.font-family {
    font-family: 'Baloo 2', cursive;
  }
  
  .font-size {
      font-family: 'Baloo 2', cursive;
      font-size: 20px;
  }
  
  .font-color{
      color: #496bb7;
  }
  
  .color-label{
    color: #2b4a99;
  }
  
  .font-size-tittle {
      font-family: 'Baloo 2', cursive;
      font-size: 30px;
      font-weight: bold;
  }
  
  .color-button{
      background-color: #496bb7;
  }
  
  .color-tittle{
    color: #2b4a99;
  }
  
  .separate{
      margin-right: 10px;
  }
  
  .justify {
    justify-content: start;
  }
  .esp-image{
      margin-top: -20%;
      margin-bottom: -10%;
  }