<div class="d-flex font-family" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MENU </div>
        <hr>
        <div class="list-group list-group-flush">
            <a href="/crear-cliente" class="list-group-item list-group-item-action bg-light">CREAR CLIENTE</a>
            <a href="/leer-cliente" class="list-group-item list-group-item-action bg-light">VER CLIENTES</a>
            <a href="/crear-ejercicio" class="list-group-item list-group-item-action bg-light">CREAR EJERCICIO</a>
            <a href="/leer-ejercicio" class="list-group-item list-group-item-action bg-light">VER EJERCICIOS</a>
            <a href="/crear-plantilla-plan" class="list-group-item list-group-item-action bg-light">CREAR PLANTILLA</a>
            <a href="/leer-plantilla-plan" class="list-group-item list-group-item-action bg-light">VER PLANTILLAS</a>
            <a href="#" (click)="cerrarSesion($event)" class="list-group-item list-group-item-action bg-light">CERRAR
                SESION</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify">
            <button class="btn btn-ligth" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <span class="separate"></span>
            <a class="navbar-brand" href="#"></a>
        </nav>
        <div class="container">
            <div class="row">
                <img src="{{prefijoUrlImagenes+logo}}" class="esp-image" alt="...">
            </div>
            <div class="row">
                <div class="col-12" align="center">
                    <h2 class="color-label font-size-tittle">PLAN DE ENTRENAMIENTO</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" [(ngModel)]="usuario.nombre" placeholder="" class="form-control" id="floatingNombre">
                        <label for="floatingNombre" class="color-label">Nombre</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" [(ngModel)]="usuario.identificacion" placeholder="" class="form-control" id="floatingIdentificacion">
                        <label for="floatingIdentificacion" class="color-label">Identificacion</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="plantillaPlanAsignar" id="floatingPlantilla" [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let plantillaPlan of plantillasPlan; let i=index" [value]=plantillaPlan>
                            {{plantillaPlan.nombre}} - {{plantillaPlan.somatotipo}}</option>
                    </select>
                    <label for="floatingPlantilla" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plantilla</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid gap-1">
                    <button (click)="crearPlan()" class="btn btn-primary color-button">Crear dia de
                        Entrenamiento</button>
                </div>
                <hr>
            </div>
            <br>
            <ng-container *ngIf="usuario.plan==null || usuario.plan.dias.length==0">
                <div class="row">
                    <div class="col-sm">
                        <div align="center" class="alert alert-warning font-weight-bold" role="alert">
                            NO EXISTE PLAN DE ENTRENAMIENTO
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="usuario.plan!=null && usuario.plan.dias.length!=0">
                <div class="accordion" id="accordionExample">
                    <ng-container *ngFor="let dia of usuario.plan.dias; let i=index">
                        <div class="accordion-item">
                            <div class="accordion-header" id="heading{{i+1}}">
                                <button class="accordion-button collapsed color-label" type="button" data-bs-toggle="collapse"
                                    attr.data-bs-target="#collapse{{i+1}}" aria-expanded="false"
                                    attr.aria-controls="collapse{{i+1}}">
                                    DIA {{i+1}} ({{dia.nombre}})
                                </button>
                            </div>
                            <div id="collapse{{i+1}}" class="accordion-collapse collapse {{dia.show}}"
                                attr.aria-labelledby="heading{{i+1}}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-sm btn-primary color-button"
                                                (click)="abrirModalCrearRutina(i)">Crear
                                                Rutina</button>
                                        </div>
                                    </div>
                                    <br>
                                    <ng-container *ngIf="dia.rutinas.length>0">
                                        <div class="row">
                                            <div class="col-sm table-responsive">
                                                <table class="table table-sm table-hover table-bordered">
                                                    <thead>
                                                        <tr class="menor-fuente font-color">
                                                            <th scope="col">°</th>
                                                            <th scope="col">EJERCICIO</th>
                                                            <th scope="col">REP</th>
                                                            <th scope="col">SER</th>
                                                            <th scope="col">PESO&nbsp;&nbsp;</th>
                                                            <th scope="col">TIEMPO</th>
                                                            <th scope="col">OPC</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="menor-fuente font-color"
                                                            *ngFor="let rutina of dia.rutinas; let j=index">
                                                            <td>{{j+1}}</td>
                                                            <td>
                                                                {{rutina.ejercicio.descripcion}}
                                                            </td>
                                                            <td>
                                                                {{rutina.repeticiones}}
                                                            </td>
                                                            <td>
                                                                {{rutina.series}}
                                                            </td>
                                                            <td>
                                                                {{rutina.valorPeso}}&nbsp;
                                                                {{rutina.medidaPeso}}
                                                            </td>
                                                            <td>
                                                                {{rutina.valorTiempo}}&nbsp;
                                                                {{rutina.medidaTiempo}}
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-sm btn-light separate"
                                                                    (click)="abrirModalLeerEjercicio(i, j)">
                                                                    <i class="bi bi-eye font-color"></i>
                                                                </button>
                                                                <button class="btn btn-sm btn-light separate"
                                                                    (click)="abrirModalActualizarRutina(i, j)">
                                                                    <i class="bi bi-pencil font-color"></i>
                                                                </button>
                                                                <button class="btn btn-sm btn-light separate"
                                                                    (click)="eliminarRutina(i, j)">
                                                                    <i class="bi bi-trash font-color"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <br>
            <div class="mb-3">
                <div class="d-grid gap-1">
                    <button class="btn btn-primary color-button" (click)="abrirModalCrearPlantillaPlan()">Guardar como plantilla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalCrearRutina let-modal>
    <div class="modal-header">
        <h4 class="modal-title font-family color-label" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body font family">
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaCrear.ejercicio.tipoMusculo" id="floatingTipoMusculo" (change)="cargarEjerciciosCrearRutina()" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let tipoMusculo of tiposMusculos" [ngValue]="tipoMusculo">
                        {{tipoMusculo.descripcion}}
                    </option>
                </select>
                <label for="floatingTipoMusculo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zona Muscular</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaCrear.ejercicio" id="floatingEjercicio" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let ejercicio of ejercicios" [ngValue]="ejercicio">
                        {{ejercicio.descripcion}}
                    </option>
                </select>
                <label for="floatingEjercicio" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejercicio</label>
            </div>
        </div>
        <ng-container *ngIf="campoDetalle">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea rows="3" [(ngModel)]="rutinaCrear.ejercicio.detalle" placeholder="" class="form-control" [disabled]="true" id="floatingDetalle"></textarea>
                        <label for="floatingDetalle" class="color-label">Detalle</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoRepeticiones">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.repeticiones" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingRepeticiones">
                        <label for="floatingRepeticiones" class="color-label">Repeticiones</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoSeries">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.series" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingSeries">
                        <label for="floatingSeries" class="color-label">Series</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorPeso">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.valorPeso" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingValorPeso">
                        <label for="floatingValorPeso" class="color-label">Valor Peso</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaPeso">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaCrear.medidaPeso" id="floatingMedidaPeso" [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaPeso of medidasPesos" [ngValue]="medidaPeso.valor">
                            {{medidaPeso.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaPeso" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida Peso</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorTiempo">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.valorTiempo" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingTiempo">
                        <label for="floatingTiempo" class="color-label">Tiempo</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaTiempo">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaCrear.medidaTiempo" id="floatingMedidaTiempo" [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaTiempo of medidasTiempos" [ngValue]="medidaTiempo.valor">
                            {{medidaTiempo.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaTiempo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida Tiempo</label>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="crearRutina()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalActualizarRutina let-modal>
    <div class="modal-header">
        <h4 class="modal-title font-family color-label" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body font family">
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaActualizar.ejercicio.tipoMusculo" id="floatingTipoMusculo" (change)="cargarEjerciciosActualizarRutinaChange()" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let tipoMusculo of tiposMusculos" [ngValue]="tipoMusculo">
                        {{tipoMusculo.descripcion}}
                    </option>
                </select>
                <label for="floatingTipoMusculo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zona Muscular</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaActualizar.ejercicio" id="floatingEjercicio" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let ejercicio of ejercicios" [ngValue]="ejercicio">
                        {{ejercicio.descripcion}}
                    </option>
                </select>
                <label for="floatingEjercicio" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejercicio</label>
            </div>
        </div>
        <ng-container *ngIf="campoDetalle">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea rows="3" [(ngModel)]="rutinaActualizar.ejercicio.detalle" placeholder="" class="form-control" [disabled]="true" id="floatingDetalle"></textarea>
                        <label for="floatingDetalle" class="color-label">Detalle</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoRepeticiones">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.repeticiones" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingRepeticiones">
                        <label for="floatingRepeticiones" class="color-label">Repeticiones</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoSeries">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.series" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingSeries">
                        <label for="floatingSeries" class="color-label">Series</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorPeso">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.valorPeso" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingValorPeso">
                        <label for="floatingValorPeso" class="color-label">Peso</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaPeso">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaActualizar.medidaPeso" id="floatingMedidaPeso" [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaPeso of medidasPesos" [ngValue]="medidaPeso.valor">
                            {{medidaPeso.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaPeso" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida del Peso</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorTiempo">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.valorTiempo" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingTiempo">
                        <label for="floatingTiempo" class="color-label">Tiempo</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaTiempo">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaActualizar.medidaTiempo" id="floatingMedidaTiempo" [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaTiempo of medidasTiempos" [ngValue]="medidaTiempo.valor">
                            {{medidaTiempo.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaTiempo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida del Tiempo</label>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizarRutina()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalLeerEjercicio let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div align="center" class="col-sm">
                <label
                    class="font-family font-color font-bold">{{usuario.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.descripcion}}</label>
                <ng-container *ngIf="usuario.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen!=null">
                    <img class="card-img-top"
                    src="{{prefijoUrlEjercicios+usuario.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen}}"
                    height="300px" alt="Card image cap">
                </ng-container>
                <ng-container *ngIf="usuario.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen==null">
                    <textarea rows="3" [disabled]="true" [(ngModel)]="usuario.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.detalle"
                            class="form-control form-control-sm"></textarea>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalCrearPlantillaPlan let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">PLANTILLA PLAN</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="plantillaPlanCrear.nombre" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingNombre">
                    <label for="floatingNombre" class="color-label">Nombre</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="plantillaPlanCrear.somatotipo" placeholder="" class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingSomatotipo">
                    <label for="floatingSomatotipo" class="color-label">Somatotipo</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="crearPlantillaPlan()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>