.color-button{
  background-color: #496bb7;
}
.font-family {
  font-family: 'Baloo 2', cursive;
}
.font-size-tittle {
  font-family: 'Baloo 2', cursive;
  font-size: 28px;
}
.font-color {
  color: #496bb7;
}
.font-bold {
  font-weight: bold;
}
.color-label{
  color: #2b4a99;
}
.esp-image{
  margin-top: -20%;
  margin-bottom: -10%;
}
.separate{
    margin-right: 10px;
}

.justify {
  justify-content: start;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .separate {
    margin-bottom: 5px;
  }
  .menor-fuente {
    font-size: small;
  }
}