<div class="d-flex myfont" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MENU </div>
        <hr>
        <div class="list-group list-group-flush">
            <a href="/crear-cliente" class="list-group-item list-group-item-action bg-light">CREAR CLIENTE</a>
            <a href="/leer-cliente" class="list-group-item list-group-item-action bg-light">VER CLIENTES</a>
            <a href="/crear-ejercicio" class="list-group-item list-group-item-action bg-light">CREAR EJERCICIO</a>
            <a href="/leer-ejercicio" class="list-group-item list-group-item-action bg-light">VER EJERCICIOS</a>
            <a href="/crear-plantilla-plan" class="list-group-item list-group-item-action bg-light">CREAR PLANTILLA</a>
            <a href="/leer-plantilla-plan" class="list-group-item list-group-item-action bg-light">VER PLANTILLAS</a>
            <a href="#" (click)="cerrarSesion($event)" class="list-group-item list-group-item-action bg-light">CERRAR
                SESION</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify">
            <button class="btn btn-ligth" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <span class="separate"></span>
            <a class="navbar-brand" href="#">{{app}}</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm" align="center">
                    <hr>
                    <h2>CLIENTES REGISTRADOS</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label>Nombre:</label>
                    <input type="text" [(ngModel)]="nombre" (change)="limpiarIdentificacion()"
                        class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
                </div>
                <div class="col-sm-5">
                    <label>Identificacion:</label>
                    <input type="text" [(ngModel)]="identificacion" (change)="limpiarNombre()"
                        class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
                </div>
                <div class="col-sm-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-sm btn-block btn-primary"
                        (click)="consultarClientesPorNombreIdentificacion()">Buscar</button>
                </div>
            </div>
            <br>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <ng-container *ngFor="let usuario of usuarios; let i=index">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{i}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                attr.data-bs-target="#flush-collapse{{i}}" aria-expanded="false"
                                attr.aria-controls="flush-collapse{{i}}">
                                {{usuario.nombre}}
                            </button>
                        </h2>
                        <div id="flush-collapse{{i}}" class="accordion-collapse collapse"
                            attr.aria-labelledby="flush-heading{{i}}" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex">
                                            <span class="justify-content-start">
                                                IDENTIFICACION
                                            </span>
                                            <span class="justify-content-end ml-auto">
                                                {{usuario.identificacion}}
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex">
                                            <span class="justify-content-start">
                                                TALLA
                                            </span>
                                            <span class="justify-content-end ml-auto">
                                                {{usuario.talla}}
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex">
                                            <span class="justify-content-start">
                                                EDAD
                                            </span>
                                            <span class="justify-content-end ml-auto">
                                                {{usuario.edad}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <button (click)="editar(usuario)"
                                                        class="btn btn-sm btn-block btn-primary">ACTUALIZAR DATOS
                                                        DEL
                                                        CLIENTE</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <button (click)="actualizarSuscripciones(usuario)"
                                                        class="btn btn-sm btn-block btn-primary">ACTUALIZAR
                                                        SUSCRIPCIONES</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <button (click)="pesosVer(usuario)"
                                                        class="btn btn-sm btn-block btn-primary">
                                                        VER PESOS
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <button (click)="observacionesVer(usuario)"
                                                        class="btn btn-sm btn-block btn-primary">
                                                        VER OBSERVACIONES
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <button (click)="objetivosVer(usuario)"
                                                        class="btn btn-sm btn-block btn-primary">
                                                        VER OBJETIVOS
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm" style="text-align: center;">
                                                    <a type="button"
                                                        href="/crear-plan?identificacion={{usuario.identificacion}}"
                                                        class="btn btn-sm btn-primary btn-block">
                                                        VER PLAN DE ENTRENAMIENTO
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!--<div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                            body.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Accordion Item #2
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                            body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to
                            demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                            body. Nothing more exciting happening here in terms of content, but just filling up the
                            space to make it look, at least at first glance, a bit more representative of how this would
                            look in a real-world application.</div>
                    </div>
                </div>
            </div>-->
            <br>
            <div class="row">
                <div class="col-sm">
                    <footer class="text-muted">
                        <div class="container">
                            <p>{{app}} </p>
                            <p>Todos los derechos reservados 2021.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalActualizarSuscripciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">SUSCRIPCIONES</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Fecha:</label>
                <div class="input-group">
                    <input type="date" [(ngModel)]="suscripcionCrear.fecha" class="form-control form-control-sm">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block"
                    (click)="crearSuscripcion()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>FECHA</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suscripcion of usuarioActualizar.suscripciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{suscripcion.fecha | DateShortPipe}}</td>
                    <td>
                        <button (click)="suscripcionEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalPesos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">PESOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nuevo Peso:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="pesoActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block" (click)="pesoCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>PESO</th>
                    <th>FECHA</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let peso of usuarioActualizar.pesos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{peso.valor}} KG</td>
                    <td>{{peso.fecha | DateShortPipe}}</td>
                    <td>
                        <button (click)="pesoEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObservaciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBSERVACIONES</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nueva Observacion:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="observacionActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block"
                    (click)="observacionCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBSERVACION</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let observacion of usuarioActualizar.observaciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{observacion.descripcion}}</td>
                    <td>
                        <button (click)="observacionEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObjetivos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">OBJETIVOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nuevo Objetivo:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="objetivoActualizar" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success btn-block"
                    (click)="objetivoCrear()">Agregar</button>
            </div>
        </div>
        <br>
        <table class="table table-hover table-bordered" style="font-size: 0.7rem">
            <thead class="table-active">
                <tr>
                    <th>No.</th>
                    <th>OBJETIVO</th>
                    <th>OPC</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objetivo of usuarioActualizar.objetivos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{objetivo.descripcion}}</td>
                    <td>
                        <button (click)="objetivoEliminar(i)" class="btn btn-primary form-control-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalUsuarioActualizar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DATOS BASICOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Nombre:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.nombre" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Identificacion:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.identificacion"
                        class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Contraseña:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.contrasena" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Talla:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.talla" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-text-height"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Edad:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="usuarioActualizar.edad" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-pager"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>