.color-button{
  background-color: #496bb7;
}
.font-family {
  font-family: 'Baloo 2', cursive;
}
.font-size-tittle {
  font-family: 'Baloo 2', cursive;
  font-size: 28px;
}
.font-color {
  color: #496bb7;
}
.color-label{
  color: #2b4a99;
}
.font-bold {
  font-weight: bold;
}
.color-button-search{
  background-color: #496bb7;
}
.esp-icon-search{
  font-size: 1.5rem; color: white;
}
.esp-image{
  margin-top: -20%;
  margin-bottom: -10%;
}
.scrollcustom {
  max-height: 500px;
  overflow-y: scroll;
}
.separate{
    margin-right: 10px;
}