<div class="d-flex myfont" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MENU </div>
        <hr>
        <div class="list-group list-group-flush">
            <a href="/crear-cliente" class="list-group-item list-group-item-action bg-light">CREAR CLIENTE</a>
            <a href="/leer-cliente" class="list-group-item list-group-item-action bg-light">VER CLIENTES</a>
            <a href="/crear-ejercicio" class="list-group-item list-group-item-action bg-light">CREAR EJERCICIO</a>
            <a href="/leer-ejercicio" class="list-group-item list-group-item-action bg-light">VER EJERCICIOS</a>
            <a href="/crear-plantilla-plan" class="list-group-item list-group-item-action bg-light">CREAR PLANTILLA</a>
            <a href="/leer-plantilla-plan" class="list-group-item list-group-item-action bg-light">VER PLANTILLAS</a>
            <a href="#" (click)="cerrarSesion($event)" class="list-group-item list-group-item-action bg-light">CERRAR
                SESION</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify">
            <button class="btn btn-ligth" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <span class="separate"></span>
            <a class="navbar-brand" href="#">GIMNASIO OLIMPIA</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm" align="center">
                    <hr>
                    <h2>EJERCICIOS REGISTRADOS</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <label>Descripcion:</label>
                    <input type="text" [(ngModel)]="descripcion" class="form-control form-control-sm"
                        oninput="this.value = this.value.toUpperCase()">
                </div>
                <div class="col-sm-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-sm btn-block btn-primary" (click)="consultarPorDescripcion()">Buscar</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 scrollcustom">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>DESCRIPCION</th>
                                <th>TIPO</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ejercicio of ejercicios; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{ejercicio.descripcion}}</td>
                                <td>{{ejercicio.tipoMusculo.descripcion}}</td>
                                <td>
                                    <button (click)="editar(i)" class="btn btn-sm btn-primary separate">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button (click)="abrirModalLeerEjercicio(i)"
                                        class="btn btn-sm btn-primary separate">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-sm btn-primary separate" (click)="eliminar(i)">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <footer class="text-muted">
                        <div class="container">
                            <p>{{gimnasio}} {{ubicacion}}. Todos los derechos reservados 2021.</p>
                            <p>Instagram Gimnasio Olimpia <a href="../../">
                                    Visitala!</a> o haznos una pregunta a <a href="../../getting-started/">Contactenos</a>.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalEjercicioActualizar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DATOS</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <label>Descripcion:</label>
                <div class="input-group">
                    <input type="text" [(ngModel)]="ejercicioActualizar.descripcion"
                        class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
                    <div class="input-group-text"><i class="fa fa-walking"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Tipo:</label>
                <div class="input-group">
                    <select [(ngModel)]="ejercicioActualizar.tipoMusculo" [compareWith]="compareFn"
                        class="form-control form-control-sm">
                        <option></option>
                        <option *ngFor="let tipoMusculo of tiposMusculo" [ngValue]=tipoMusculo>
                            {{tipoMusculo.descripcion}}</option>
                    </select>
                    <div class="input-group-text"><i class="fa fa-dumbbell"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalLeerEjercicio let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">EJERCICIO</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div align="center" class="col-sm">
                <label class="font-weight-bold">{{ejercicioLeer.descripcion}}</label>
                <img class="card-img-top" src="{{prefijoUrlEjercicios+ejercicioLeer.imagen}}" height="300px"
                    alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>