<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-center">
            <button class="btn btn-ligth" (click)="menu()"><i class="bi bi-list" style="font-size: 1.5rem"></i></button>
        </nav>
    </div>
    <div class="row">
        <img src="{{prefijoUrlImagenes+logo}}" class="esp-image" alt="...">
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h2 class="color-label font-size-tittle">EJERCICIOS</h2>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating col-10">
            <input type="text" [(ngModel)]="descripcion" placeholder="" class="form-control"
                oninput="this.value = this.value.toUpperCase()" id="floatingDescripcion">
            <label for="floatingDescripcion" class="color-label font-bold">Buscar Ejercicio</label>
        </div>
        <button type="button" class="btn btn-outline-info col-2 color-button-search"><i
                class="bi bi-search esp-icon-search"></i></button>
    </div>
    <div class="row">
        <div class="col-12 scrollcustom">
            <table class="table table-hover table-bordered">
                <thead class="table-active font-color">
                    <tr>
                        <th>No.</th>
                        <th>DESCRIPCION</th>
                        <th>TIPO</th>
                        <th>OPC</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9rem;" class="font-color">
                    <tr *ngFor="let ejercicio of ejercicios; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ejercicio.descripcion}}</td>
                        <td>{{ejercicio.tipoMusculo.descripcion}}</td>
                        <td>
                            <button (click)="editar(i)" class="btn btn-light btn-sm separate">
                                <i class="bi bi-pencil font-color"></i>
                            </button>
                            <button (click)="abrirModalLeerEjercicio(i)" class="btn btn-light btn-sm separate">
                                <i class="bi bi-eye font-color"></i>
                            </button>
                            <button class="btn btn-light btn-sm separate" (click)="eliminar(i)">
                                <i class="bi bi-trash font-color"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #modalEjercicioActualizar let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">DATOS</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="ejercicioActualizar.descripcion"
                        oninput="this.value = this.value.toUpperCase()" placeholder="" class="form-control"
                        id="floatingDescripcion">
                    <label for="floatingDescripcion" class="font-color font-bold">Descripcion</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="ejercicioActualizar.tipoMusculo" [compareWith]="compareFn" id="floatingTipoMusculo"
                    class="form-select">
                    <option *ngFor="let tipoMusculo of tiposMusculos; let i=index" [value]=tipoMusculo>
                        {{tipoMusculo.descripcion}}</option>
                </select>
                <label for="floatingTipoMusculo" class="font-color">Tipo Musculo</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark color-button" (click)="actualizar()">Guardar</button>
        <button type="button" class="btn btn-outline-dark color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalLeerEjercicio let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">EJERCICIO</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div align="center" class="col-12">
                <label class="font-color font-bold">{{ejercicioLeer.descripcion}}</label>
                <img class="card-img-top" src="{{prefijoUrlEjercicios+ejercicioLeer.imagen}}" height="300px"
                    alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>