<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-center">
            <button class="btn btn-ligth" (click)="menu()"><i class="bi bi-list" style="font-size: 1.5rem"></i></button>
        </nav>
    </div>
    <div class="row" id="centrar">
        <img src="{{prefijoUrlImagenes+logo}}" id="logo" class="esp-image" alt="...">
    </div>
    <div class="row">
        <div class="col" align="center">
            <h2 class="color-label font-size-tittle">CREAR EJERCICIO</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" [(ngModel)]="ejercicio.nombre" placeholder="" class="form-control"
                    oninput="this.value = this.value.toUpperCase()" id="floatingNombre">
                <label for="floatingNombre" class="color-label font-bold">Nombre</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" [(ngModel)]="ejercicio.nombrePersonalizado" placeholder="" class="form-control"
                    oninput="this.value = this.value.toUpperCase()" id="floatingNombrePersonalizado">
                <label for="floatingNombrePersonalizado" class="color-label font-bold">Nombre Personalizado</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating">
            <select [(ngModel)]="ejercicio.tipoMusculo" id="floatingTipoMusculo" [compareWith]="compareFn"
                class="form-select">
                <option *ngFor="let tipoMusculo of tiposMusculos; let i=index" [value]=tipoMusculo>
                    {{tipoMusculo.descripcion}}</option>
            </select>
            <label for="floatingTipoMusculo" class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo
                Musculo</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-grid gap-1">
            <label style="text-align: center;" class="color-label">Imagen:</label>
            <input hidden type="file" #botonImagen id="imagen" name="imagen" (change)="cargarImagen($event)">
            <button (click)="botonImagen.click()" class="btn btn-primary color-button">Cargar Imagen</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <ng-container *ngIf="imagen!=null">
                <p>{{imagen.name}}</p>
            </ng-container>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-grid gap-1">
            <button type="button" (click)="crear()" class="btn btn-success">Guardar</button>
        </div>
    </div>
</div>