<div class="d-flex font-family" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">MENU </div>
        <hr>
        <div class="list-group list-group-flush">
            <a href="/crear-cliente" class="list-group-item list-group-item-action bg-light">CREAR CLIENTE</a>
            <a href="/leer-cliente" class="list-group-item list-group-item-action bg-light">VER CLIENTES</a>
            <a href="/crear-ejercicio" class="list-group-item list-group-item-action bg-light">CREAR EJERCICIO</a>
            <a href="/leer-ejercicio" class="list-group-item list-group-item-action bg-light">VER EJERCICIOS</a>
            <a href="/crear-plantilla-plan" class="list-group-item list-group-item-action bg-light">CREAR PLANTILLA</a>
            <a href="/leer-plantilla-plan" class="list-group-item list-group-item-action bg-light">VER PLANTILLAS</a>
            <a href="#" (click)="cerrarSesion($event)" class="list-group-item list-group-item-action bg-light">CERRAR
                SESION</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom justify">
            <button class="btn btn-ligth" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <span class="separate"></span>
            <a class="navbar-brand" href="#"></a>
        </nav>
        <div class="container">
            <div class="row">
                <img src="{{prefijoUrlImagenes+logo[0].valor}}" class="esp-image" alt="...">
            </div>
            <div class="row">
                <div class="col" align="center">
                    <h2 class="color-label font-size-tittle">CREAR EJERCICIO</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" [(ngModel)]="ejercicio.descripcion" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingNombre">
                        <label for="floatingNombre" class="color-label">Nombre</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="ejercicio.tipoMusculo" id="floatingTipoMusculo" [compareWith]="compareFn" class="form-select">
                        <option *ngFor="let tipoMusculo of tiposMusculos; let i=index" [value]=tipoMusculo>
                            {{tipoMusculo.descripcion}}</option>
                    </select>
                    <label for="floatingTipoMusculo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo Musculo</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid gap-1">
                    <label style="text-align: center;" class="color-label">Imagen:</label>
                    <input hidden type="file" #botonImagen id="imagen" name="imagen"
                        (change)="cargarImagen($event)">
                    <button (click)="botonImagen.click()" class="btn btn-primary">Cargar Imagen</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <ng-container *ngIf="imagen!=null">
                        <p>{{imagen.name}}</p>
                    </ng-container>
                </div>
            </div>
            <div class="row mb-3">
                <div class="d-grid gap-1">
                    <button type="button" (click)="crear()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>