.color-button{
  background-color: #496bb7;
}
.font-family {
  font-family: 'Baloo 2', cursive;
}
.font-size-tittle {
  font-family: 'Baloo 2', cursive;
  font-size: 28px;
}
.font-color {
  color: #496bb7;
}
.font-bold {
  font-weight: bold;
}
.color-label{
  color: #2b4a99;
}
.esp-image{
  margin-top: -20%;
  margin-bottom: -10%;
}

@media only screen and ( min-width: 992px ){
  #fondoInicioSesion{
        background-repeat: round;
  }
  #logo{
      width: 30%;
      height: auto;
      margin-top: -5%;
      margin-bottom: -5%;
  }
  #centrar{
      display: flex;
      justify-content: center;
  }
}