<div class="container font-size"
    style="background-image: url({{prefijoUrlImagenes+fondoInicioSesion[0].valor}}); width: 100%; height: 100%">
    <div class="row">
        <img src="{{prefijoUrlImagenes+logo}}" alt="...">
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="form-floating">
                <input type="number" [(ngModel)]="sesion.usuario.identificacion"
                    oninput="this.value = this.value.toUpperCase()" placeholder="" class="form-control"
                    id="floatingInput">
                <label for="floatingInput" class="color-label">Identificacion</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="form-floating">
                <input type="password" [(ngModel)]="sesion.usuario.contrasena" placeholder=""
                    class="form-control form-control-sm" id="floatingInput">
                <label for="floatingInput" class="color-label">Contraseña</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-grid gap-1">
            <button type="button" class="btn btn-primary font-button font-color-button color-button"
                (click)="iniciarSesion()">Entrar</button>
        </div>
        <div class="col-3"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <footer class="text-muted">
                <div class="container font-color font-size">
                    <p style="text-align: center;">{{app}}</p>
                    <p style="text-align: center;">Todos los derechos reservados</p>
                </div>
            </footer>
        </div>
    </div>
</div>