<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-center">
            <button class="btn btn-ligth" (click)="menu()"><i class="bi bi-list" style="font-size: 1.5rem"></i></button>
        </nav>
    </div>
    <div class="row" id="centrar">
        <img src="{{prefijoUrlImagenes+logo}}" id="logo" class="esp-image" alt="...">
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h2 class="color-label font-size-tittle">MEDIDAS</h2>
        </div>
    </div>
    <div class="row">
        <div class="card-group col-sm">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title color-label d-flex justify-content-center">{{usuario.nombre}}</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-color d-flex justify-content-center">
                        IDENTIFICACION: {{usuario.identificacion}}
                    </li>
                    <li class="list-group-item font-color d-flex justify-content-center">
                        ESTATURA: {{usuario.estatura}}
                    </li>
                    <li class="list-group-item font-color d-flex justify-content-center">
                        EDAD: {{usuario.edad}}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="d-grid gap-1" style="text-align: center;">
                                <button (click)="suscripcionesVer()" class="btn btn-sm btn-primary color-button">VER
                                    SUSCRIPCIONES</button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="d-grid gap-1" style="text-align: center;">
                                <button (click)="pesosVer()" class="btn btn-sm btn-primary color-button">
                                    VER PESOS
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="d-grid gap-1" style="text-align: center;">
                                <button (click)="observacionesVer()" class="btn btn-sm btn-primary color-button">
                                    VER OBSERVACIONES
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="d-grid gap-1" style="text-align: center;">
                                <button (click)="objetivosVer()" class="btn btn-sm btn-primary color-button">
                                    VER OBJETIVOS
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="d-grid gap-1" style="text-align: center;">
                                <a type="button" href="/leer-plan" class="btn btn-sm btn-primary color-button">
                                    VER PLAN DE ENTRENAMIENTO
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #modalSuscripciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">SUSCRIPCIONES</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead class="table-active font-color">
                <tr>
                    <th>No.</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody class="font-color">
                <tr *ngFor="let suscripcion of usuario.suscripciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{suscripcion.fecha | DateShortPipe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalPesos let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">PESOS</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead class="table-active font-color">
                <tr>
                    <th>No.</th>
                    <th>PESO</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody class="font-color">
                <tr *ngFor="let peso of usuario.pesos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{peso.valor}} KG</td>
                    <td>{{peso.fecha | DateShortPipe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObservaciones let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">OBSERVACIONES</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead class="table-active font-color">
                <tr>
                    <th>No.</th>
                    <th>OBSERVACION</th>
                </tr>
            </thead>
            <tbody class="font-color">
                <tr *ngFor="let observacion of usuario.observaciones; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{observacion.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalObjetivos let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">OBJETIVOS</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead class="table-active font-color">
                <tr>
                    <th>No.</th>
                    <th>OBJETIVO</th>
                </tr>
            </thead>
            <tbody class="font-color">
                <tr *ngFor="let objetivo of usuario.objetivos; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{objetivo.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>