<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex justify-content-center">
            <button class="btn btn-ligth" (click)="menu()"><i class="bi bi-list" style="font-size: 1.5rem"></i></button>
        </nav>
    </div>
    <div class="row" id="centrar">
        <img src="{{prefijoUrlImagenes+logo}}" id="logo" class="esp-image" alt="...">
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h2 class="color-label font-size-tittle">PLANTILLA PLAN DE ENTRENAMIENTO</h2>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" [(ngModel)]="plantillaPlan.nombre" oninput="this.value = this.value.toUpperCase()"
                    placeholder="" class="form-control" id="floatingNombre">
                <label for="floatingNombre" class="color-label font-bold">Nombre Plantilla</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" [(ngModel)]="plantillaPlan.somatotipo"
                    oninput="this.value = this.value.toUpperCase()" placeholder="" class="form-control"
                    id="floatingSomatotipo">
                <label for="floatingSomatotipo" class="color-label font-bold">Somatotipo</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row mb-3">
        <div class="d-grid gap-1">
            <button (click)="crearPlantillaPlan()" class="btn btn-primary color-button">Crear día de
                Entrenamiento</button>
        </div>
    </div>
    <ng-container *ngIf="plantillaPlan.plan.dias.length==0">
        <div class="row">
            <div class="col-sm">
                <div align="center" class="alert alert-warning font-weight-bold" role="alert">
                    NO EXISTE PLAN DE ENTRENAMIENTO
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="plantillaPlan.plan.dias.length!=0">
        <div class="accordion" id="accordionExample">
            <ng-container *ngFor="let dia of plantillaPlan.plan.dias; let i=index">
                <div class="accordion-item">
                    <div class="accordion-header" id="heading{{i+1}}">
                        <button class="accordion-button collapsed color-label" type="button" data-bs-toggle="collapse"
                            attr.data-bs-target="#collapse{{i+1}}" aria-expanded="false"
                            attr.aria-controls="collapse{{i+1}}">
                            DIA {{i+1}} ({{dia.nombre}})
                        </button>
                    </div>
                    <div id="collapse{{i+1}}" class="accordion-collapse collapse {{dia.show}}"
                        attr.aria-labelledby="heading{{i+1}}" data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="d-grid gap-1">
                                    <button class="btn btn-sm btn-primary color-button"
                                        (click)="abrirModalCrearRutina(i)">Crear
                                        Rutina</button>
                                </div>
                            </div>
                            <br>
                            <ng-container *ngIf="dia.rutinas.length>0">
                                <div class="row">
                                    <div class="col-sm table-responsive">
                                        <table class="table table-sm table-hover table-bordered">
                                            <thead>
                                                <tr class="menor-fuente font-color">
                                                    <th scope="col">°</th>
                                                    <th scope="col">EJERCICIO</th>
                                                    <th scope="col">REP</th>
                                                    <th scope="col">SER</th>
                                                    <th scope="col">PESO&nbsp;&nbsp;</th>
                                                    <th scope="col">TIEMPO</th>
                                                    <th scope="col">OPC</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="menor-fuente font-color"
                                                    *ngFor="let rutina of dia.rutinas; let j=index">
                                                    <td>{{j+1}}</td>
                                                    <td>
                                                        <ng-container *ngIf="rutina.ejercicio.nombrePersonalizado==''">
                                                            {{rutina.ejercicio.nombre}}
                                                        </ng-container>
                                                        <ng-container *ngIf="rutina.ejercicio.nombrePersonalizado!=''">
                                                            {{rutina.ejercicio.nombrePersonalizado}}
                                                        </ng-container>
                                                    </td>
                                                    <td>
                                                        {{rutina.repeticiones}}
                                                    </td>
                                                    <td>
                                                        {{rutina.series}}
                                                    </td>
                                                    <td>
                                                        {{rutina.valorPeso}}&nbsp;
                                                        {{rutina.medidaPeso}}
                                                    </td>
                                                    <td>
                                                        {{rutina.valorTiempo}}&nbsp;
                                                        {{rutina.medidaTiempo}}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-light separate"
                                                            (click)="abrirModalLeerEjercicio(i, j)">
                                                            <i class="bi bi-eye font-color"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-light separate"
                                                            (click)="abrirModalActualizarRutina(i, j)">
                                                            <i class="bi bi-pencil font-color"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-light separate"
                                                            (click)="eliminarRutina(i, j)">
                                                            <i class="bi bi-trash font-color"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>


<ng-template #modalCrearRutina let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaCrear.ejercicio.tipoMusculo" id="floatingTipoMusculo"
                    (change)="cargarEjerciciosCrearRutina()" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let tipoMusculo of tiposMusculos" [ngValue]="tipoMusculo">
                        {{tipoMusculo.descripcion}}
                    </option>
                </select>
                <label for="floatingTipoMusculo" class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zona
                    Muscular</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaCrear.ejercicio" id="floatingEjercicio" [compareWith]="compareFn"
                    class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let ejercicio of ejercicios" [ngValue]="ejercicio">
                        <ng-container *ngIf="ejercicio.nombrePersonalizado==''">
                            {{ejercicio.nombre}}
                        </ng-container>
                        <ng-container *ngIf="ejercicio.nombrePersonalizado!=''">
                            {{ejercicio.nombrePersonalizado}}
                        </ng-container>
                    </option>
                </select>
                <label for="floatingEjercicio"
                    class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejercicio</label>
            </div>
        </div>
        <ng-container *ngIf="campoDetalle">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea rows="3" [(ngModel)]="rutinaCrear.ejercicio.detalle" placeholder=""
                            class="form-control" [disabled]="true" id="floatingDetalle"></textarea>
                        <label for="floatingDetalle" class="color-label font-bold">Detalle</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoRepeticiones">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.repeticiones" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingRepeticiones">
                        <label for="floatingRepeticiones" class="color-label font-bold">Repeticiones</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoSeries">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.series" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingSeries">
                        <label for="floatingSeries" class="color-label font-bold">Series</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorPeso">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.valorPeso" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingValorPeso">
                        <label for="floatingValorPeso" class="color-label font-bold">Valor Peso</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaPeso">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaCrear.medidaPeso" id="floatingMedidaPeso" [compareWith]="compareFn"
                        class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaPeso of medidasPesos" [ngValue]="medidaPeso.valor">
                            {{medidaPeso.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaPeso" class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida
                        Peso</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorTiempo">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaCrear.valorTiempo" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingTiempo">
                        <label for="floatingTiempo" class="color-label font-bold">Tiempo</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaTiempo">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaCrear.medidaTiempo" id="floatingMedidaTiempo" [compareWith]="compareFn"
                        class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaTiempo of medidasTiempos" [ngValue]="medidaTiempo.valor">
                            {{medidaTiempo.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaTiempo" class="color-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida
                        Tiempo</label>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="crearRutina()">Guardar</button>
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalActualizarRutina let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaActualizar.ejercicio.tipoMusculo" id="floatingTipoMusculo"
                    (change)="cargarEjerciciosActualizarRutinaChange()" [compareWith]="compareFn" class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let tipoMusculo of tiposMusculos" [ngValue]="tipoMusculo">
                        {{tipoMusculo.descripcion}}
                    </option>
                </select>
                <label for="floatingTipoMusculo" class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zona
                    Muscular</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-floating">
                <select [(ngModel)]="rutinaActualizar.ejercicio" id="floatingEjercicio" [compareWith]="compareFn"
                    class="form-select">
                    <option [value]="null"></option>
                    <option *ngFor="let ejercicio of ejercicios" [ngValue]="ejercicio">
                        <ng-container *ngIf="ejercicio.nombrePersonalizado==''">
                            {{ejercicio.nombre}}
                        </ng-container>
                        <ng-container *ngIf="ejercicio.nombrePersonalizado!=''">
                            {{ejercicio.nombrePersonalizado}}
                        </ng-container>
                    </option>
                </select>
                <label for="floatingEjercicio"
                    class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ejercicio</label>
            </div>
        </div>
        <ng-container *ngIf="campoDetalle">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea rows="3" [(ngModel)]="rutinaActualizar.ejercicio.detalle" placeholder=""
                            class="form-control" [disabled]="true" id="floatingDetalle"></textarea>
                        <label for="floatingDetalle" class="color-label font-bold">Detalle</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoRepeticiones">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.repeticiones" placeholder=""
                            class="form-control" oninput="this.value = this.value.toUpperCase()"
                            id="floatingRepeticiones">
                        <label for="floatingRepeticiones" class="color-label font-bold">Repeticiones</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoSeries">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.series" placeholder="" class="form-control"
                            oninput="this.value = this.value.toUpperCase()" id="floatingSeries">
                        <label for="floatingSeries" class="color-label font-bold">Series</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorPeso">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.valorPeso" placeholder=""
                            class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingValorPeso">
                        <label for="floatingValorPeso" class="color-label font-bold">Peso</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaPeso">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaActualizar.medidaPeso" id="floatingMedidaPeso" [compareWith]="compareFn"
                        class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaPeso of medidasPesos" [ngValue]="medidaPeso">
                            {{medidaPeso.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaPeso" class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medida
                        del Peso</label>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoValorTiempo">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="form-floating">
                        <input type="number" [(ngModel)]="rutinaActualizar.valorTiempo" placeholder=""
                            class="form-control" oninput="this.value = this.value.toUpperCase()" id="floatingTiempo">
                        <label for="floatingTiempo" class="color-label font-bold">Tiempo</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="campoMedidaTiempo">
            <div class="row mb-3">
                <div class="form-floating">
                    <select [(ngModel)]="rutinaActualizar.medidaTiempo" id="floatingMedidaTiempo"
                        [compareWith]="compareFn" class="form-select">
                        <option [value]="null"></option>
                        <option *ngFor="let medidaTiempo of medidasTiempos" [ngValue]="medidaTiempo">
                            {{medidaTiempo.valor}}
                        </option>
                    </select>
                    <label for="floatingMedidaTiempo"
                        class="color-label font-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tiempo</label>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="actualizarRutina()">Guardar</button>
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalLeerEjercicio let-modal>
    <div class="modal-header">
        <h4 class="modal-title color-label" id="modal-basic-title">RUTINA</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div align="center" class="col-sm">
                <ng-container *ngIf="plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.nombrePersonalizado==''">
                    <label class="font-weight-bold">{{plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.nombre}}</label>
                </ng-container>
                <ng-container *ngIf="plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.nombrePersonalizado!=''">
                    <label class="font-weight-bold">{{plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.nombrePersonalizado}}</label>
                </ng-container>
                
                <br>
                <ng-container *ngIf="plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen!=null">
                    <img class="card-img-top"
                        src="{{host+prefijoUrlEjercicios+plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen}}"
                        height="300px" alt="Card image cap">
                </ng-container>
                <ng-container *ngIf="plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.imagen==null">
                    <textarea rows="3" [disabled]="true"
                        [(ngModel)]="plantillaPlan.plan.dias[seleccionPE].rutinas[seleccionRE].ejercicio.detalle"
                        oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm"></textarea>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-light color-button" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>